<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pixelon.sportsapplication">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Splash"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Cricket"
            android:label="@string/title_activity_cricket"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Details"
            android:label="Details" />
        <activity
            android:name=".Football"
            android:label="Football"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Badminton"
            android:label="@string/title_activity_badminton"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tennis"
            android:label="@string/title_activity_tennis"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hockey"
            android:label="@string/title_activity_hockey"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Swimming"
            android:label="@string/title_activity_swimming"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ImageOpen" />
        <activity
            android:name=".Image.ImageVideos"
            android:label="@string/title_activity_image_videos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ImagesVideo"
            android:label="@string/title_activity_images_video"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ImageVideoActivities.VideoPlayer"></activity>
    </application>

</manifest>