@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sports Application</h1>
    <p class="lead">This sports Application include all the interesting stuff like tranning, news and rules for all famous sports category.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>News</h2>
        <p>
            You can add sports news for mobile app here, so that your user can all be updated.
        </p>
        <p><a class="btn btn-default" href="http://mobileappsports.azurewebsites.net/newsdata">Add News &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Rules</h2>
        <p>Set Rules for all famous sports and give latest trend to your user.</p>
        <p><a class="btn btn-default" href="http://mobileappsports.azurewebsites.net/FileDatas">Add Rules &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Training Images</h2>
        <p>Tranning with entertainment. We provide special tranning Images for famous sports.</p>
        <p><a class="btn btn-default" href="http://mobileappsports.azurewebsites.net/Images">Add Images &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Training Videos</h2>
        <p>You can easily find all videos to get traning about your passion.</p>
        <p><a class="btn btn-default" href="http://mobileappsports.azurewebsites.net/videos">Add videos &raquo;</a></p>
    </div>
</div>